[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}

[packages]
flask = "*"
python-twitter = "*"
pillow = "*"
numpy = "*"
mecab-python3 = "*"
uwsgi = "*"
wordcloud = {editable = true,git = "https://github.com/i544c/word_cloud.git",ref = "scoring_word"}

[requires]
python_version = "3.7"
